section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h1{
    font-size: 50px;
    margin-bottom: 100px;
}

section h1::after{
    content: "";
    width: 90vw;
    height: 5px;
    background-color: red;
    display: flex;
    margin-top: 50px;
}

.slider button{
    display: none;
}

.produtos{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding: 10px;
}

.produto{
    width: 180px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.produto img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.produto label{
    margin: 10px 0;
}

.produtoSelected{
    width: 180px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.produtoSelected img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.produtoSelected label{
    margin: 10px 0;
}

.produtoSelected:hover{
    transform: scale(1.05);
    transition: .3s;
    background:#424242;
    color: white;
}

.produto:hover{
    transform: scale(1.05);
    transition: .3s;
    background:#424242;
    color: white;
}

.nomeProdutoMobile{
    display: none;
}

@media screen and (max-width:400px) {

    section h1{
        font-size:30px ;
        margin-top: -250px;
    }

    .slider{
        display: flex;
        position: absolute;
        left: 160px;
    }

    .slider button{
        display: inline;
        background: none;
        border: none;
    }

    #btnNext{
        width: 30px;
        height: 100px;
        position: relative;
        left: 135px;
        top: 60px;
    }

    #btnBack{
        width: 30px;
        height: 100px;
        position: relative;
        right: 150px;
        top: 72px;
    }

    .produtos{
        display: flex; 
        flex-direction: column;
        position: relative;
    }

    .produtos div{
        opacity: 0;
        position: absolute;
        object-fit: cover;
    }

    .produtos div.produtoSelected{
        opacity: 1;
    }

    .produtoSelected{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 270px;
        height: 150px;
        position: relative;
        right: -80px;
        bottom: -80px;
        transition: 1s ease-out;
    }

    .produtoSelected label{
        margin: 0 15px;
    }

    .produto{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 270px;
        height: 150px;
        position: relative;
        right: -80px;
        bottom: -80px;
    }

    .produto label{
        margin: 0 15px;
    }

    .nomeProduto{ 
        display: none;
    }

    .nomeProdutoMobile{
        display: inline;
    }

}